DATABASE_URL="file:./dev.db"
JWT_SECRET="change-this-to-a-long-random-secret"
NEXT_PUBLIC_APP_NAME="На Районе"
NEXT_PUBLIC_DEFAULT_PLACE="Гальнево"
NEXT_PUBLIC_DEFAULT_LAT="56.3"
NEXT_PUBLIC_DEFAULT_LNG="38.15"
NEXT_PUBLIC_VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""
VAPID_SUBJECT="mailto:admin@example.com"
